
<%= link_to products_path do %>
    <h1>Vendelo store</h1>
<%end%>


<button ><%= link_to t('products.new.title'), new_product_path  %></button>
<button ><%= link_to t('categories.index.title'), categories_path  %></button>